openapi: 3.0.0
info:
  title: Developers Italia API
  version: 1.0.0
  summary: Developers Italia API
  description: The API of Developers Italia
  license:
    name: Apache
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    email: contatti@developers.italia.it
    url: 'https://developers.italia.it/en/contacts'
    name: Developers Italia
  x-api-id: 0f9ca6b0-db47-11ec-96f7-d8bbc146d165
servers:
  - url: 'https://api.developers.italia.it'
    description: The production server
paths:
  /software:
    get:
      summary: List all software
      description: This endpoint allows you to list all software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Software'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-software
      parameters:
        - schema:
            type: number
            example: 100
            minimum: 1
            multipleOf: 1
          in: query
          name: limit
          description: Limit the amount of results
        - schema:
            type: number
            example: 3
            minimum: 1
            multipleOf: 1
          in: query
          name: page
          description: Page number for use in pagination
    post:
      summary: Create a new software
      operationId: post-software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Software'
            examples: {}
  '/software/{softwareId}':
    parameters:
      - schema:
          type: string
        name: softwareId
        in: path
        required: true
    get:
      summary: Get a Software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-software-softwareId
    patch:
      summary: Update a Software
      operationId: patch-software-softwareId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a Software
      operationId: delete-software-softwareId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/software/{softwareId}/logs':
    parameters:
      - schema:
          type: string
        name: softwareId
        in: path
        required: true
    get:
      summary: List all Logs for a Software
      operationId: get-software-softwareId-logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
        - schema:
            type: number
            example: 100
            minimum: 1
            multipleOf: 1
          in: query
          name: limit
          description: Limit the amount of results
        - schema:
            type: number
            example: 3
            minimum: 1
            multipleOf: 1
          in: query
          name: page
          description: Page number for use in pagination
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T09:56:23Z'
          in: query
          name: from
          description: Only logs after this time (ISO 8601 datetime)
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T14:56:23Z'
          in: query
          name: to
          description: Only logs before this time (ISO 8601 datetime)
    post:
      summary: Create Logs for a Software
      operationId: post-software-softwareId-logs
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Log'
            examples:
              example-1:
                value:
                  - id: string
  /bundles:
    get:
      summary: List all Bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bundle'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

      operationId: get-bundles
    post:
      summary: Create a Bundle
      operationId: post-bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bundle'
            examples: {}

  '/bundle/{bundleId}':
    parameters:
      - schema:
          type: string
        name: bundleId
        in: path
        required: true
    get:
      summary: Get a Bundle
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-bundle-bundleId

    patch:
      summary: Update a Bundle
      operationId: patch-bundle-bundleId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete a Bundle
      operationId: delete-bundle-bundleId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /logs:
    get:
      summary: List all Logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

      operationId: get-logs
      parameters:
        - schema:
            type: number
            example: 100
            minimum: 1
            multipleOf: 1
          in: query
          name: limit
          description: Limit the amount of results
        - schema:
            type: number
            example: 3
            minimum: 1
            multipleOf: 1
          in: query
          name: page
          description: Page number for use in pagination
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T09:56:23Z'
          in: query
          name: from
          description: Only logs after this time (ISO 8601 datetime)
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T14:56:23Z'
          in: query
          name: to
          description: Only logs before this time (ISO 8601 datetime)

    post:
      summary: Create Logs
      operationId: post-logs
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Log'
  /publishers:
    get:
      summary: List all Publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Publisher'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

      operationId: get-publishers
    post:
      summary: Create a new Publisher
      operationId: post-publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/publishers/{publisherId}':
    parameters:
      - schema:
          type: string
        name: publisherId
        in: path
        required: true
    get:
      summary: Get a Publisher
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

      operationId: get-publishers-publisherId

    patch:
      summary: Update a Publisher
      operationId: patch-publishers-publisherId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a Publisher
      operationId: delete-publishers-publisherId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  responses:
    NoContent:
      description: No Content
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/Error'
  schemas:
    Software:
      title: Software
      x-stoplight:
        id: g73zfvx7rmc20
      type: object
      properties:
        id:
          type: string
        publiccode:
          type: string
    Publisher:
      title: Publisher
      x-stoplight:
        id: o9ohv7d53cd5o
      type: object
      properties:
        id:
          type: string
    Log:
      title: Log
      x-stoplight:
        id: 17yfpqsmi2dy1
      type: object
      properties:
        id:
          type: string
    Bundle:
      title: Bundle
      x-stoplight:
        id: vjkub0yybmkka
      type: object
      properties:
        id:
          type: string
    Pagination:
      type: object
      properties:
        pagination:
          type: object
          properties:
            per_page:
              type: integer
            current_page:
              type: integer
      x-examples:
        example-1:
          pagination:
            per_page: 200
            current_page: 3
    Error:
      type: object
      x-examples:
        example-1:
          code: x
          title: x
          detail: x
      properties:
        code:
          type: string
          description: Application-specific error code
        title:
          type: string
          description: 'Short, human-readable summary of the problem'
        detail:
          type: string
          description: Human-readable explanation of the problem
      required:
        - title
        - detail
  securitySchemes:
    API Key - 1:
      name: API Key
      type: apiKey
      in: header
      description: ''
