openapi: 3.0.0
info:
  title: Developers Italia API
  version: 1.0.0
  x-summary: Developers Italia API
  description: |
    The API of Developers Italia

    ### <a name="terms-of-service"></a> Terms of service
    This API is open to use. While we normally rate limit the service, we reserve to block any
    potential malicious misuse of the API.

    Be nice.
  license:
    name: Apache
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    email: contatti@developers.italia.it
    url: 'https://developers.italia.it/en/contacts'
    name: Developers Italia
  x-api-id: 0f9ca6b0-db47-11ec-96f7-d8bbc146d165
  # TODO: merge https://github.com/italia/developers.italia.it/pull/1245
  termsOfService: https://developers.italia.it/en/api/developers-italia#terms-of-service
servers:
  - url: 'https://api.developers.italia.it/v1'
    description: The production server
tags:
  - name: software
    description: Operations on software
  - name: bundles
    description: Operations on bundles
  - name: logs
    description: Operations on logs
  - name: publishers
    description: Operations on publishers
  - name: monitor
    description: Monitoring operations on the API
paths:
  /status:
    get:
      summary: Get the API status
      description: Get the API status
      tags: [monitor]
      operationId: get-status
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /software:
    get:
      summary: List all software
      description: This endpoint allows you to list all software
      tags:
        - software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Software'
                  links:
                    $ref: '#/components/schemas/Links'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: get-software
      parameters:
        - schema:
            type: integer
            format: int32
            example: 100
            minimum: 1
            maximum: 100
            default: 25
          in: query
          name: page[size]
          description: Limit the amount of results
        - schema:
            type: string
          in: query
          name: 'page[before]'
          description: Only results before this cursor
        - schema:
            type: string
          in: query
          name: 'page[after]'
          description: Only results after this cursor
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T09:56:23Z'
          in: query
          name: from
          description: Only software created after this time (RFC 3339 datetime)
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T14:56:23Z'
          in: query
          name: to
          description: Only software created before this time (RFC 3339 datetime)
    post:
      summary: Create a new Software
      description: Create a new Software
      tags:
        - software
      security:
        - bearerAuth: []
      operationId: post-software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Software'
            examples: {}
  '/software/{softwareId}':
    parameters:
      - schema:
          type: string
        name: softwareId
        in: path
        required: true
    get:
      summary: Get a Software
      description: Get a Software from its id
      tags:
        - software
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: get-software-softwareId
    patch:
      summary: Update a Software
      description: Update a Software by its id
      tags:
        - software
      security:
        - bearerAuth: []
      operationId: patch-software-softwareId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Software'
    delete:
      summary: Delete a Software
      description: Delete a Sofware by its id
      tags:
        - software
      security:
        - bearerAuth: []
      operationId: delete-software-softwareId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/software/{softwareId}/logs':
    parameters:
      - schema:
          type: string
        name: softwareId
        in: path
        required: true
    get:
      summary: List all Logs for a Software
      description: List all Logs for a Software by its id
      tags:
        - logs
        - software
      operationId: get-software-softwareId-logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  links:
                    $ref: '#/components/schemas/Links'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
        - schema:
            type: integer
            format: int32
            default: 25
            example: 100
            minimum: 1
            maximum: 100
          in: query
          name: page[size]
          description: Limit the amount of results
        - schema:
            type: string
          in: query
          name: 'page[before]'
          description: Only results before this cursor
        - schema:
            type: string
          in: query
          name: 'page[after]'
          description: Only results after this cursor
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T09:56:23Z'
          in: query
          name: from
          description: Only logs after this time (ISO 8601 datetime)
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T14:56:23Z'
          in: query
          name: to
          description: Only logs before this time (ISO 8601 datetime)
    post:
      summary: Create Logs for a Software
      description: Create Logs for a Software by its id
      tags:
        - logs
        - software
      security:
        - bearerAuth: []
      operationId: post-software-softwareId-logs
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Log'
  /bundles:
    get:
      summary: List all Bundles
      description: List all Bundles
      tags:
        - bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bundle'
                  links:
                    $ref: '#/components/schemas/Links'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-bundles
    post:
      summary: Create a Bundle
      description: Create a Bundle
      tags:
        - bundles
      security:
        - bearerAuth: []
      operationId: post-bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bundle'
            examples: {}
  '/bundle/{bundleId}':
    parameters:
      - schema:
          type: string
        name: bundleId
        in: path
        required: true
    get:
      summary: Get a Bundle
      description: Get a Bundle by its id
      tags:
        - bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-bundle-bundleId
    patch:
      summary: Update a Bundle
      description: Update a Bundle by its id
      tags:
        - bundles
      security:
        - bearerAuth: []
      operationId: patch-bundle-bundleId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Software'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Bundle'
    delete:
      summary: Delete a Bundle
      description: Delete a Bundle by its id
      tags:
        - bundles
      security:
        - bearerAuth: []
      operationId: delete-bundle-bundleId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /logs:
    get:
      summary: List all Logs
      description: List all Logs
      tags:
        - logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  links:
                    $ref: '#/components/schemas/Links'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: get-logs
      parameters:
        - schema:
            type: integer
            format: int32
            example: 100
            minimum: 1
            maximum: 100
            default: 25
          in: query
          name: page[size]
          description: Limit the amount of results
        - schema:
            type: string
          in: query
          name: 'page[before]'
          description: Only results before this cursor
        - schema:
            type: string
          in: query
          name: 'page[after]'
          description: Only results after this cursor
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T09:56:23Z'
          in: query
          name: from
          description: Only logs after this time (RFC 3339 datetime)
        - schema:
            type: string
            format: date-time
            example: '2022-06-07T14:56:23Z'
          in: query
          name: to
          description: Only logs before this time (RFC 3339 datetime)
    post:
      summary: Create Logs
      description: Create Logs
      tags:
        - logs
      security:
        - bearerAuth: []
      operationId: post-logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Log'
  /publishers:
    get:
      summary: List all Publishers
      description: List all Publishers
      tags:
        - publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Publisher'
                  links:
                    $ref: '#/components/schemas/Links'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-publishers
    post:
      summary: Create a new Publisher
      description: Create a new Publisher
      tags:
        - publishers
      security:
        - bearerAuth: []
      operationId: post-publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/publishers/{publisherId}':
    parameters:
      - schema:
          type: string
        name: publisherId
        in: path
        required: true
    get:
      summary: Get a Publisher
      description: Get a Publisher by its id
      tags:
        - publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: get-publishers-publisherId
    patch:
      summary: Update a Publisher
      description: Update a Publisher by its id
      tags:
        - publishers
      security:
        - bearerAuth: []
      operationId: patch-publishers-publisherId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PublisherUpdate'
    delete:
      summary: Delete a Publisher
      description: Delete a Publisher by its id
      tags:
        - publishers
      security:
        - bearerAuth: []
      operationId: delete-publishers-publisherId
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    NoContent:
      description: No Content
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Software:
      title: Software
      x-stoplight:
        id: g73zfvx7rmc20
      type: object
      properties:
        id:
          type: string
          readOnly: true
        publiccodeYml:
          type: string
        urls:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          example: '2022-06-07T14:56:23Z'
          description: The time the log was created (RFC 3339 datetime)
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          example: '2022-06-07T14:56:23Z'
          description: The time the log was updated (RFC 3339 datetime)
          readOnly: true
    Publisher:
      title: Publisher
      x-stoplight:
        id: o9ohv7d53cd5o
      type: object
      properties:
        url:
          type: string
        description:
          type: string
        email:
          type: string
          format: email
    PublisherUpdate:
      title: PublisherUpdate
      x-stoplight:
        id: o9ohv7d53cd5o
      type: object
      properties:
        codeHosting:
          type: array
          properties:
            url:
              type: string
              format: uri
              example: http://www.example.com
        description:
          type: string
        email:
          type: string
          format: email
          example: example@example.com
    Log:
      title: Log
      x-stoplight:
        id: 17yfpqsmi2dy1
      type: object
      properties:
        id:
          type: string
          readOnly: true
        createdAt:
          type: string
          format: date-time
          example: '2022-06-07T14:56:23Z'
          description: The time the log was created (RFC 3339 datetime)
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          example: '2022-06-07T14:56:23Z'
          description: The time the log was updated (RFC 3339 datetime)
          readOnly: true
        message:
          type: string
        entity:
          type: string
          readOnly: true
      required:
        - id
        - createdAt
        - updatedAt
        - message
    Bundle:
      title: Bundle
      x-stoplight:
        id: vjkub0yybmkka
      type: object
      properties:
        id:
          type: string
    Links:
      type: object
      x-examples: {}
      properties:
        prev:
          type: string
          readOnly: true
          nullable: true
        next:
          type: string
          readOnly: true
          nullable: true
      required:
        - prev
        - next
      readOnly: true
    Error:
      type: object
      x-examples:
        example-1:
          title: Bad Request
          detail: Bad Request
          status: 400
          instance: /publishers/{publisherId}
      properties:
        code:
          type: string
          description: Application-specific error code
        title:
          type: string
          description: 'Short, human-readable summary of the problem'
        detail:
          type: string
          description: Human-readable explanation of the problem
      required:
        - title
        - detail
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PASETO
