version: '3.9'
services:
  api:
    ports:
      - "3000:3001"
    depends_on:
      - db
    networks:
      - default
    volumes:
      - .:/opt/app/api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_DSN: 'host=db user=postgres password=postgres dbname=postgres port=5432'
      ENVIRONMENT: local

  db:
    image: postgres:14.3-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
