on:
  push:
    tags:
      - chart-*

permissions:
  packages: write

jobs:
  release_chart:
    runs-on: ubuntu-22.04
    steps:
      - name: Get version
        id: get_version
        run: echo "::set-output name=version::${GITHUB_REF_NAME#chart-}"
      - name: Push chart to GitHub Container Registry
        uses: appany/helm-oci-chart-releaser@v1.0.0
        with:
          name: developers-italia-api
          repository: ${{ github.repository }}
          tag: ${{ steps.get_version.outputs.version }}
          registry: ghcr.io
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
