on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests-sqlite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - run: go test -race ./...
        env:
          DATABASE_DSN: "file:/tmp/test.db"
