on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests-postgresql:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - run: go test -race ./...
        env:
            DATABASE_DSN: "postgres://postgres:postgres@localhost:5432/test?sslmode=disable"
